.a-user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: #bdbdff;
  color: #330072;
  font-weight: bold;
  border-radius: 50%;
  font-size: 1.2rem;
  text-transform: uppercase;
}
