.o-table-and-players {
  display: grid;
  grid-template-columns: 1fr 55% 1fr;
  grid-template-areas:
    "user0 user0 user0"
    "user6 tableLocker user1"
    "user5 tableLocker user2"
    "user4 tableLocker user3"
    "currentUser currentUser currentUser";
  grid-template-rows: repeat(5, auto);
  gap: 0.4rem 0;
  width: 90%;
  height: 90%;
  padding-top: 5rem;
  margin: auto;
}

.o-table-and-players > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user0 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.8rem;
  grid-area: user0;
  text-align: center;
}

.table-locker {
  grid-area: tableLocker;
  text-align: center;
  grid-row: 2 / span 3;
}

.user1 {
  grid-area: user1;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.user2 {
  grid-area: user2;
  text-align: center;
  justify-content: flex-end;
}

.user3 {
  grid-area: user3;
  text-align: center;
  justify-content: flex-end;
}

.currentUser {
  grid-area: currentUser;
  text-align: center;
  padding-top: 0.2rem;
}

.user4 {
  grid-area: user4;
  text-align: center;
  justify-content: flex-start;
}

.user5 {
  grid-area: user5;
  text-align: center;
  justify-content: flex-start;
}

.user6 {
  grid-area: user6;
  text-align: center;
  justify-content: flex-start;
}

@media (min-width: 479px) {
  .o-table-and-players {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50% 1fr;
    grid-template-areas:
      "user5 user6 user0 user1 user2"
      "user5 tableLocker tableLocker tableLocker user2"
      "user5 user4 currentUser user3 user2";
    max-width: 60vw;
  }

  .table-locker {
    grid-row: 2 / span 1;
    min-width: 290px;
  }

  .o-table-and-players > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .currentUser {
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
}
